Flask==3.0.3
Flask_Bcrypt==1.0.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
PyMySQL==1.1.1
python-dotenv==1.0.1
SQLAlchemy==2.0.25
stripe==8.2.0
vonage==3.14.0
WTForms==3.1.2
XlsxWriter==3.1.9
flash == 3.0.3
stripe == 9.8.0
flask_talisman = 1.1.0
xlsxwriter = 3.2.0
flask_login == 0.6.3
flask_bcrypt == 1.0.1
wtforms = 3.1.2