{% extends "base.html" %}

{% block title %}South Canteen - Order{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
  {% for category, message in messages %}
    <div class="alert bg-{{ category }} alert-dismissible text-center position-fixed top-0 start-50 translate-middle-x w-25 p-2" aria-hidden="true" role="alert" style="z-index: 1050;">
      <p class="text-white mb-0">{{message}}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="container-fluid">
    <div class="row">
        {% include 'includes/_sidebar.html' %}
        <div class="col-10">
            <h4 class="p-4 text-center">{{stall_name}}</h4>
            {% include 'includes/_stallItems.html' %}
            <a href="/cart">
                <button type="button" class="btn btn-primary btn-round mt-3">
                    <i class="fas fa-shopping-cart text-left"></i> Cart
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}