<nav class="navbar-collapse justify-content-center text-center navbar-expand-sm bg-white"> 
    <div class="container-fluid"> 
        <a class="navbar-brand" href="/"><img src={{url_for('static', filename="South Canteen Logo.png")}} height=auto width="300px"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs- target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
        
                <li class="nav-item p-2">
                    <a class="nav-link text-success fw-light" href="/">Home</a>
                </li>

                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle text-success fw-light" href="#" role="button" data-bs-toggle="dropdown">About Us</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-success fw-light" href="/openingHours">Opening hours</a></li>
                        <li><a class="dropdown-item text-success fw-light" href="/findUs">Find us</a></li>
                        <li><a class="dropdown-item text-success fw-light" href="/contactUs">Contact us</a></li>
                    </ul>
                </li>

                <li class="nav-item p-2">
                    <a class="nav-link text-success fw-light" href="/Drinks">Order</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link text-success fw-light" href="/cart">Cart</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item p-2">
                    <a class="nav-link text-success fw-light" href="/orderHistory">Order History</a>
                </li>

                <li class="nav-item p-2">
                    <a class="nav-link text-success fw-light" href="/profile">Profile</a> 
                </li>

                <li class="nav-item p-2">
                    <a class="nav-link text-success fw-light" href="/logout">Logout</a> 
                </li>




                {% else %}   
                <li class="nav-item dropdown p-2">      
                    <a class="nav-link dropdown-toggle text-success fw-light" href="#" role="button" data-bs-toggle="dropdown">Sign In/ Register</a> 
                    <ul class="dropdown-menu text-end">
                        <li><a class="dropdown-item text-success fw-light" href="/login">Login</a></li>
                        <li><a class="dropdown-item text-success fw-light" href="/register">Register</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>