{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert bg-{{ category }} alert-dismissible text-center w-50 container p-1" aria-hidden="true" role="alert">
            <p class="display-6 text-white">{{message}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% from "includes/_formHelper.html" import render_field %}
<div class="row">
    {% for item, price in menu[stall_name].items() %}
    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{url_for('static', filename='menu-items/' + item.replace(' ', '_') + '.jpg' )}}" alt="{{ item.name }}" style="min-width: 300px; min-height: 300px; max-width: 450; max-height: 300;" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <a href="#{{ item.replace(' ', '_') }}Modal" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#{{ item.replace(' ', '_') }}Modal">
                    <p class="fw-bolder">{{ item }}</p>
                    </a>
                    <!-- Product price-->
                    ${{ price }}
                    <!-- Modal -->
                    <div class="modal fade" id="{{ item.replace(' ', '_') }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ item.replace(' ', '_') }}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{ item }}ModalLabel">{{ item }}</h5>
                                </div>
                                <div class="modal-body">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{url_for('static', filename='menu-items/' + item.replace(' ', '_') + '.jpg' )}}" alt="{{ item.name }}" />
                                    <!-- Order Form -->
                                    <form method="POST" id="order-form">
                                        {{ form.csrf_token }}
                                        {{ form.orderDatetime }}
                                        {{ form.phoneNumber }}
                                        {{ form.stallName }}
                                        {{ form.orderID }}
                                        {{ form.item(value = item)}}
                                        {{ render_field( form.itemQuantity, class="form-control")}}
                                        {{ form.price(value = price) }}
                                        {{ form.total }}
                                        {{ render_field( form.remarks )}}
                                        {{ render_field(form.recaptcha) }}
                                        {{ form.status }}
                                        <!-- </form> -->
                                        
                                        <button type="submit" class="btn btn-primary">Add to cart</button>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
