<nav class="navbar-collapse justify-content-center text-center navbar-expand-sm bg-white"> 
    <div class="container-fluid"> 
        <a class="navbar-brand" href="/"><img src={{url_for('static', filename="South Canteen Logo.png")}} height=auto width="300px"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs- target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item p-2">
                    <a class="nav-link text-primary fw-light" href="/storeOwnerHome">Home</a>
                </li>
              

                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle text-primary fw-light" href="#" role="button" data-bs-toggle="dropdown">About Us</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-primary fw-light" href="/openingHours">Opening hours</a></li>
                        <li><a class="dropdown-item text-primary fw-light" href="/findUs">Find us</a></li>
                        <li><a class="dropdown-item text-primary fw-light" href="/contactUs">Contact us</a></li>
                    </ul>
                </li>

                <li class="nav-item p-2">
                    <a class="nav-link text-primary fw-light" href="/Drinks">Order</a>
                </li>

 
                <li class="nav-item p-2">
                    <a class="nav-link text-primary fw-light" href="/currentOrders">Current Orders</a>
                </li>


                <li class="nav-item p-2">
                    <a class="nav-link text-primary fw-light" href="/pastOrders">Past Orders</a> 
                </li>



                <li class="nav-item p-2">
                    <a class="nav-link text-primary fw-light" href="/logout">Logout</a> 
                </li>


            </ul>
        </div>
    </div>
</nav>