{% extends "base.html" %}
{% block title %}South Canteen - Contact us{% endblock %}

{% block content %}
<div class="tab-content">
    <div class="tab-pane container-fluid active" style="min-height: 90vh;" id="DIT">
      <br>
      <h1>Contact Us</h1>
      <br>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Email</th>
            </tr>
          </thead>
              <tbody>
            <tr>
              <td>Mr. Jonathan Leong</td>
              <td>Support Technician</td>
              <td><a href="mailto:jonathan_leong@southcanteen.com">jonathan_leong@southcanteen.com</a></td>
            </tr>
            <tr>
              <td>Mr. Peter Sing</td>
              <td>Stalls Manager</td>
              <td><a href="mailto:peter_sing@southcanteen.com">peter_sing@southcanteen.com</a></td>
            </tr>
            <tr>
              <td>Ms. Claire Lim</td>
              <td>Public Relations Officer</td>
              <td><a href="mailto:claire_lim@southcanteen.com">claire_lim@southcanteen.com</a></td>
            </tr>
           </tbody>
   </table>
    </div>
{% endblock %}