{% extends "base.html" %}
{% block title %}South Canteen - Find us{% endblock %}

{% block content %}
<h1>Find us at NYP Block P!</h1>
<div class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.664558379298!2d103.8468128750829!3d1.377937898609038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16e95f035529%3A0xf5f938337afc1dab!2sNYP%20South%20Canteen!5e0!3m2!1sen!2ssg!4v1705989851691!5m2!1sen!2ssg" width="1600" height="1200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}