{% extends 'base.html' %}
{% block title %}
South Canteen - Opening Hours
{% endblock %}

{% block content %}
<div class="tab-content" style="min-height: 90vh;">
    <div class="tab-pane container-fluid active">
    <h1>Operating Hours</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>School Term</th>
            <th>Holidays</th>
          </tr>
        </thead>
            <tbody>
          <tr>
            <td>1</td>
            <td>Vegetarian</td>
            <td>7am to 6pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Muslim</td>
            <td>7am to 5pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Indian</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Chicken Rice</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Pizza</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Japanese</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Ban Mian</td>
            <td>7am to 7pm</td>
            <td>7am to 5pm</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Curry Rice</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Yong Tau Foo</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Mala</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Bubble Tea</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Takoyaki</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>13</td>
            <td>Snack</td>
            <td>7am to 7pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>14</td>
            <td>Waffle</td>
            <td>7am to 5pm</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>15</td>
            <td>Drinks</td>
            <td>7am to 7pm</td>
            <td>7am to 6pm</td>
          </tr>
         </tbody>
   </table>
</div>
{% endblock %}

