<style>
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

{% extends 'base.html' %}
{% block title %}South Canteen - Profile{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}

    {% for category, message in messages %}
        <div class="alert bg-{{ category }} alert-dismissible text-center w-50 container p-1" aria-hidden="true" role="alert">
            <p class="display-6 text-white">{{message}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

  {% endif %}
{% endwith %}


<h1 class="display-6 p-4 text-center bg-light">{{current_user.get_name()}}'s Profile</h1>

<div class="bg-light rounded container" style="width: 30%; height: auto;">
<form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group text-center p-3">
        <!-- Display current profile picture -->
        <img src="{{ url_for('static', filename='profile_pics/' + (current_user.get_profilePicture() if current_user.get_profilePicture() else 'default.jpeg')) }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
    </div>

    <div class="form-group text-muted bg-white rounded shadow-lg m-2 p-1">
        {{ render_field(form.name, class="form-control text-dark p-2", style="border: none", value= current_user.get_name() ) }}
    </div>

    <div class="form-group text-muted bg-white rounded shadow-lg m-2 p-1">
        {{ render_field(form.phoneNumber, class="form-control text-dark p-2", style="border: none", value= current_user.get_id() ) }}
    </div>

    <div class="form-group text-muted bg-white rounded shadow-lg m-2 p-1">
        <!-- File input field for profile picture -->
        {{ render_field(form.profilePicture, class="form-control-file text-dark p-2") }}
        {% for error in form.profilePicture.errors %}
            <span class="text-danger small">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="container-fluid text-center p-3">
    <input type="submit" value="Edit profile" class="btn btn-primary w-100"/>
    </div>

    <div class="container-fluid text-center p-3">
        <a href="/setup_2fa"><input type="button" value="setup Two-Factor Authentication" class="btn bg-primary text-white w-100"/></a>
    </div>

    <div class="container-fluid text-center p-3">
        <a href="/changePassword"><input type="button" value="Change Password" class="btn btn-primary w-100"/></a>
    </div>

    <div class="container-fluid text-center p-3">
        <a href="/deleteProfile"><input type="button" value="Delete profile" class="btn bg-danger text-white w-100"/></a>
    </div>

    
    
</form>
</div>
{% endblock %}
