<style>
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

{% extends 'base.html' %}
{% block title %}South Caneteen - Register{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-6 p-4 text-center">Register Account</h1>

<div class="bg-body rounded container shadow-sm" style="width: 30%; height: auto;">
<form method="POST" action="" enctype="multipart/form-data"> 
    {{ form.csrf_token }}
    <div class="form-group p-2">
        {{ render_field(form.name, class="form-control", placeholder="Eg. Aaron Tan") }}
    </div>

    <div class="form-group p-2">
        {{ render_field(form.phoneNumber, class="form-control", placeholder="91234567") }}
    </div>

    <div class="form-group p-2">
        {{ render_field(form.password, class="form-control", placeholder="Enter password") }}
    </div>

    <div class="form-group p-2">
        {{ render_field(form.confirm, class="form-control", placeholder="Re-enter password") }}
    </div> 


    <div class="form-group p-2">
        {{ render_field(form.profilePicture, class="form-control") }}
        {% for error in form.profilePicture.errors %}
            <span class="text-danger small">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="container-fluid text-center p-3">
    <input type="submit" value="Register" class="btn btn-primary w-100"/>
    </div>
    
</form>
</div>
{% endblock %}
